.bar {
	fill: lightblue;
	stroke: white;
}

.bar:hover {
	stroke:black;
}

.axis path,
.axis line {
	fill: none;
	stroke: black;
	shape-rendering: crispEdges;    
}

#x_axis text {
	font-family: monospace;
	font-size: 14px;
	pointer-events: none;
}

#yAxisDescription {
	font-family: monospace;
	font-size: 14px;
	font-weight: bold;
}

#xAxisDescription {
	font-size: 14px;
	font-weight: bold;
}

#container {
	margin: 10px; 
	padding:10px;
	border: 10px;
}

svg {
	margin:10px; 
	padding:10px;
	border:10px 
}