/*
 * general style declarations
 */
@font-face {
	font-family: 'Pompiere';
	font-style: normal;
	font-weight: 400;
	src: local('Kalinga '), local('Kalinga-Regular'), url(Kalinga.woff) format('woff');
}


@font-face {
	font-family: 'Pompiere';
	font-style: normal;
	font-weight: 400;
	src: local('Pompiere '), local('Pompiere-Regular'), url(Pompiere.woff) format('woff');
}

html, body {
	height: 100%;
	background: #FFFFFF;
	color: black;
	font-family: Pompiere;
}
a {
	text-decoration: none;
	color: black;
}
#wrapper {
	margin: auto;
	width: 680px;
}
#logo {
    position:relative;
	top: 40px;
	font-size: 17px;
}
#logo span {
	margin-left: -10px;
	font-size: 35px;
}
#content {
	position: relative;
	top: 80px;
}

#footer {
	display: block;
	font-size: 14px;
	text-align: right;
	margin-top: 15px;
}

#bubchart {
	background-image: url(../images/BubbleChart2.png);
}

#scatplot {
	background-image: url(../images/ScatPlot.png);
}

#barchart {
	background-image: url(../images/BarChart.png);
}

#pie {
	background-image: url(../images/Pie.png);
}

#info {
	background-image: url(../images/Infos.png);
}

#histoScat {
	background-image: url(../images/HistoScatPlatzhalter.png);
}


/*
 * style declarations for index site
 */
.bigTile {
	position: relative;
	display: inline-block;
	width: 320px;
	height: 160px;
	background-color: #CCDDDD;
	background-position:center;
	font-size: 20px;
	padding: 4px;
	margin: 0px 7px 8px 0px;
	border: 1px solid #EEEEEE;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}
.bigTile span:first-line {
	font-size: 16px;
}
.bigTile:active {
	padding: 0px;
	margin: 4px 11px 12px 4px;
}
.bigTile span {
	position: absolute;
	bottom: 5px;
}
