#chart {
	text-align: center;
}
#selection {
	width: 830px;
	margin: auto;
	border: 2px solid lightgray;
	border-width: 0px 2px;
	padding: 20px;
	padding-bottom: 10px;
}
#selection:first-line {
	font-weight: bold;
	font-size: 24px;
}
#selection > div {
	margin-bottom: 5px;
}
#timescale {
	vertical-align: top;
}
#timescale span{
	display:block;
	padding: 0px 3px;
	text-align:right;
	cursor: pointer;
}
#timescale > div {
	display:inline-block;
}
#timescale > div:first-line {
	font-weight: bold;
}
#timescale > div:last-child {
	right: 0px;
	float: right;
}
#timescale > div > div {
	width: 80px;
	display:inline-block;
	position: relative;
	border: 2px solid lightgray;
}
#timescale > div > div > span:first-child {
	background-color: lightgray;
	font-weight: bold;
	text-align: left;
	cursor: default;
}
#timescale input {
	outline: 0px;
	border: 0px;
	width:inherit;
	font-family: Kalinga;
	font-size: 16px;
	height: 18px;
	margin: -1px 0px;
	text-align: right;
}
.dropdown {
	position: absolute;
	background-color: white;
	border: 2px solid lightgray;
	border-top-width: 0px;
	margin-left: -2px;
	height: 100px;
	width: 80px;
	overflow-y: auto;
}
.dropdown span:hover {
	background-color: lightgray;
}

.options {
	vertical-align: top;
	display: inline-block;
	width: 200px;
	border: 2px solid lightgray;
}
.options > div:first-child {
	display: block;
	background-color: lightgray;
	font-weight: bold;
}
.options span {
	cursor: pointer;
}
.type {
	border: 0px solid lightgray;
	border-bottom-width: 2px;
}
.selected {
	background-color: lightgray;
}
.list {
	overflow-x:hidden;
	overflow-y:auto;
	font-size: 18px;
	height: 200px;
}
.list span {
	display:block;
}
.sub {
	margin-left:10px;
	border: 0px solid lightgray;
	border-left-width: 1px;
}
.sub span{
	font-size: 16px;
	padding: 3px;
}
#send {
	display:block;
	border:2px solid lightgray;
	background-color: lightgray;
	text-align: center;
	font-weight: bold;
	width: 100px;
	cursor: pointer;
}
#send:active {
	background-color: white;
}
#header {
	width:800px;
	margin:auto;
}
#logo {
	width:100px;
}