/*
 * general style declarations
 */
@font-face {
	font-family: 'Kalinga';
	font-style: normal;
	font-weight: 400;
	src: local('Kalinga'), local('Kalinga-Regular'), url(Kalinga.ttf) format('ttf');
}

body {
	font-family: Kalinga;
	min-width: 690px;
	margin: 0px;
}
a {
	text-decoration: none;
	color: black;
}
img {
	border: 0px;
}
#logo {
    position:relative;
    z-index:1;
	top: 30px;
	font-size: 17px;
}
#logo span {
	margin-left: -10px;
	font-size: 35px;
}
#lang {
	position: relative;
	text-align:right;
	top: -10px;
	color: #404040;
}
#lang span {
	padding: 0px 2px;
	background-color: #DDDDDD;
	color: black;
}

#content {
	position: relative;
	top: 60px;
	margin: auto;
}
#footer {
	clear:both;
	position: relative;
	top: 60px;
	font-size: 14px;
	text-align: right;
	margin-top: 15px;
}
.fixWidth {
	width: 70%;
	min-width: 690px;
	margin: auto;
}

#message {
	z-index: 1;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	background-color: rgba(255,255,255,0.7);
}
#message > div{
	position: fixed;
	width: 300px;
	top:50%;
	left: 50%;
	margin-left: -150px;
	margin-top: -50px;
	padding:10px;
	background-color: lightgray;
}
#message input{
	margin-bottom: 6px;
}
#message span{
	font-weight: bold;
}
#message span:not(:first-of-type){
	font-weight: bold;
	color: white;
	position:relative;
	border: 2px solid gray;
	padding: 0px 4px;
	background-color: gray;
	cursor: pointer;
	margin: 3px;
}
#message div:active {
	background-color: lightgray;
}


/*
 * style declarations for index site
 */
.bigTile {
	position: relative;
	display: inline-block;
	width: 320px;
	height: 160px;
	background-position:center;
	background-size: 100% 100%;
	padding: 4px;
	margin: 4px;
	border: 1px solid #EEEEEE;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}
.bigTile span:first-line {
	font-size: 16px;
}
.bigTile:active {
	padding: 0px;
	margin: 8px;
}
.bigTile span {
	display:block;
	position: absolute;
	width:auto;
	padding: 3px 7px 0px;
	bottom:0px;
	left: 0px;
	background: rgba(255,255,255,0.8);
}
#history {
	background-image: url(/assets/images/history.svg)
}
