@(lang:String)
@main(lang = lang)(title = "index.title") { } {
<a href="histogram.html">
<div class="bigTile" id="barchart">
	<span>
	Barchart
	</span>
</div></a>
<div class="bigTile" id="scatplot">
	<span>
	Scatter plot
	</span>
</div>
<br /><div class="bigTile" id="bubchart">
	<span>
	Bubble chart
	</span>
</div>
<div class="bigTile" id="pie">
	<span>
	Pie chart
	</span>
</div>
<br /><div class="bigTile" id="histoScat">
	<span>
	Histogram &amp; Scatter plot
	</span>
</div>
}
