@(lang: String)(title: String)(includes: Html)(content: Html)
@import controllers.Localize
<!DOCTYPE html>
    <head>
        <title>@Localize.get(lang,title)</title>
        <link rel="icon" href="/assets/images/FavIcon1.png" type="image/x-icon" />
        <link href="/assets/stylesheets/style.css" rel="stylesheet" type="text/css">
        @includes
    </head>
    <body>
    <div id="wrapper">	
    	<img id="logo" src="/assets/images/logoText.png">
    	
    	<div id="content">
    		@content
			<br /><div id="footer">
				
			</div>
    	</div>
    </div>
    </body>
</html>

