@main(lang = "en")(title = "charts.histogram"){
<link href="@routes.Assets.at("/public","stylesheets/charts/histogram.css")" rel="stylesheet" type="text/css">
}{
<div id="chart">Histogramm</div>

<form id="x">
	x-axis
	<br /><input type="radio" name="x" value="Location" id="location"/><label for="location">Location</label>
	<br /><input type="radio" name="x" value="db_dim" id="db_dim"/><label for="db_dim">db_dim</label>
	<br /><input type="radio" name="x" value="type" id="type"/><label for="type">type</label>
</form>

<form id="y">
	y-axis
	<br /><input type="radio" name="y" value="accesses" id="accesses"/><label for="accesses"># of accesses</label>
	<br /><input type="radio" name="y" value="cpu_time" id="cpu_time"/><label for="cpu_time">CPU busy time</label>
	<br /><input type="radio" name="y" value="elapsed_time" id="elapsed_time"/><label for="elapsed_time">elapsed time</label>
</form>
}