@import web.controllers.Localize
@main(title = Localize.get("about.title")) {
	
}{
	<div class="fixWidth">
		<h2>@Localize.get("about.title")</h2>
		<p>
			@Localize.get("about.pse")
		</p>
		<p>
			@Localize.get("about.page")
		</p>
		<p>
			@Localize.get("about.pseGroup")
			<ul>
				<li>Alexander Noe</li>
				<li>Jonathan Klawitter</li>
				<li>Anas Saber</li>
				<li>Nikolaos Alexandros Kurt Moraitakis</li>
				<li>Lukas Ehnle</li>
			</ul>
		</p>
		<p>@Localize.get("about.moreInfo") <a href="https://github.com/Gruppe14/KIT-PSE">GitHub Repository</a>.</p>
	</div>
}
