@(logfileForm: Form[web.LogfileUpload])
@import web.controllers.Localize
@main(title = Localize.get("admin.adminSection")) {
	<link href="/assets/stylesheets/admin.css" rel="stylesheet" type="text/css">
	<script>
		$(document).ready(function() {
			$("#send").click(function() {
				$("#loader").show();
				document.forms['admin'].submit();
			})
		});
	</script>
} {
	<div class="minWidth">
	<span id="heading">@Localize.get("admin.adminSection")</span>
	<div id="logout"><a href="/logout">@Localize.get("admin.logout")</a></div>
	<div>
		<p>@Localize.get("admin.uploadMessage")<br />
		@Localize.get("admin.uploadWarning")</p>
	@helper.form(web.controllers.routes.Website.logfile, 'name -> "admin") {
		@if(logfileForm.hasGlobalErrors) {<p style="color:red;">@logfileForm.globalError.message</p>}
		<label for="pathToLogfile">@Localize.get("admin.logfilePath")</label>
		<input type="text" id="pathToLogfile" name="pathToLogfile" value="">
		<div id="send">@Localize.get("filter.send")</div>
		
	}
	</div>
	<div id='loader'></div>
	</div>
}
