@(loginForm: Form[web.AdminLogin])
@import web.controllers.Localize
@main(title = "Login"){
	<link href="/assets/stylesheets/admin.css" rel="stylesheet" type="text/css">
	<script>
		$(document).ready(function() {
			$("#send").click(function() {
				document.forms['admin'].submit();
			})
		});
	</script>
} {
	<span id="heading">@Localize.get("admin.adminSection")</span>
@helper.form(web.controllers.routes.Website.login, 'name -> "admin") {
	@if(loginForm.hasGlobalErrors) {<p style="color:red;">@loginForm.globalError.message</p>}
	<div>
		<label for="username">@Localize.get("admin.username")</label>
		<input type="text" id="username" name="username" value="">
	</div>
	<div>
		<label for="password">@Localize.get("admin.password")</label>
		<input type="password" id="password" name="password" value="">
	</div>
	<div id="send">@Localize.get("admin.login")</div>
}
}