@(chartName: String)
@import controllers.Localize
<!DOCTYPE html>
    <head>
        <title>@Localize.get("charts." + chartName)</title>
        <link rel="icon" href="/assets/images/FavIcon.png" type="image/x-icon" />
        <link href="/assets/stylesheets/main.css" rel="stylesheet" type="text/css">
        <link href="/assets/stylesheets/chart.css" rel="stylesheet" type="text/css">
        <script type="text/javascript" src="/assets/javascripts/jquery.js"></script>
        <script type="text/javascript" src="/assets/javascripts/d3.js"></script>
        <script type="text/javascript" src="/assets/javascripts/main.js"></script>
        <script type="text/javascript" src="/charts/@{chartName}.js"></script>
    </head>
    <body>
	<div id="doc">
	<div id="header">	
	    <a href ="/"><img id="logo" src="/assets/images/logoText.png"></a>
		<div id="lang">
			@for(l <- Localize.getAvailables()) {
				@if(l.equals(Localize.language())) {
					<span>@l</span>
				}else {
					<a href=@l>@l</a>
				}
			}
		</div>	
	</div>
	<div id="chart"></div>
	<div id="selection">
		@Localize.get("charts." + chartName)<br />
		<div id="location" class="options">
			<div>@Localize.get("filter.location")</div>
			<div class="group type">
				<span class="x">@Localize.get("filter.x.axis")</span> <span class="filter">@Localize.get("filter.filter")</span>
			</div>
			<div class="dim list">
				<span>Deutschland</span>
				<div class="sub" id="Deutschland">
					<span>Berlin</span>
					<span>Düsseldorf</span>
					<span>Stuttgart</span>
				</div>
				<span>Schweiz</span>
				<div class="sub" id="Schweiz">
					<span>Zürich</span>
					<span>Genf</span>
					<span>Basel</span>
					<span>Bern</span>
				</div>
				<span>Österreich</span>
				<div class="sub" id="Österreich">
					<span>Wien</span>
					<span>Steiermark</span>
					<span>Salzburg</span>
				</div>
				<span>Dänemark</span>
				<span>Australien</span>
				<div class="sub" id="Australien">
					<span>Sydney</span>
					<span>Melbourne</span>
				</div>
				<span>USA</span>
				<span>Kanada</span>
				<span>Neuseeland</span>
				<div class="sub" id="Neuseeland">
					<span>Auckland</span>
				</div>
				<span>Kroatien</span>
				<span>Polen</span>
				<div class="sub" id="Polen">
					<span>Kattowitz</span>
					<span>Warschau</span>
					<span>Danzig</span>
				</div>
			</div>
		</div>
		<div id="server" class="options">
			<div>@Localize.get("filter.server")</div>
			<div class="group type">
				<span class="x">@Localize.get("filter.x.axis")</span> <span class="filter">@Localize.get("filter.filter")</span>
			</div>
			<div class="dim list">
				<span>SDSS3J</span>
				<div class="sub">
					<span>BESTDR9</span>
				</div>
				<span>SDSS2B</span>
				<div class="sub">
					<span>BESTDR2</span>
					<span>BESTDR7</span>
				</div>
				<span>SDSS2A</span>
				<div class="sub">
					<span>BESTDR1</span>
					<span>BESTDR2</span>
					<span>BESTDR7</span>
				</div>
			</div>
		</div>
		<div id="type" class="options">
			<div>@Localize.get("filter.type")</div>
			<div class="group type">
				<span class="x">@Localize.get("filter.x.axis")</span> <span class="filter">@Localize.get("filter.filter")</span>
			</div>
			<div class="list">
				<span>Photo</span>
				<span>other</span>
			</div>
		</div>
		<div id="measures" class="options">
			<div>@Localize.get("filter.measures")</div>
			<div class="type">&nbsp;</div>
			<div class="group list">
				<span>Busy time</span>
				<span>Elapsed time</span>
				<span>rows</span>
				<span># of accesses</span>
			</div>
		</div>
		<div id="send">@Localize.get("filter.send")</div>
	</div>
	</div>
    </body>
</html>
