@(title: String)(includes: Html)(content: Html)
@import controllers.Localize
<!DOCTYPE html>
    <head>
        <title>@Localize.get(title)</title>
        <link rel="icon" href="/assets/images/FavIcon.png" type="image/x-icon" />
        <link href="/assets/stylesheets/main.css" rel="stylesheet" type="text/css">
        <script type="text/javascript" src="/assets/javascripts/jquery.js"></script>
        <script type="text/javascript" src="/assets/javascripts/main.js"></script>
        @includes
    </head>
    <body>
	<div class="fixWidth">
    	<a href ="/"><img id="logo" src="/assets/images/logoText.png"></a>
    	<div id="lang">
    		@for(l <- Localize.getAvailables()) {
    			@if(l.equals(Localize.language())) {
    				<span>@l</span>
    			}else {
    				<a href=@l>@l</a>
    			}
    		}
    	</div>
	</div>
	<div id="content">
		@content
	</div>
	<div id="footer" class="fixWidth">
		<a href="/admin">@Localize.get("admin.adminSection")</a>
	</div>
    </body>
</html>

